.container::before {
    background: url("../images/concert.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    content: "";
    /* display: block; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.5;
} 

h3 {
    margin-bottom: 0;
}

#splash-bar {
    background-color: white;
    height: 20rem;
    opacity: 0.5;
    padding-left: 0;
    text-align: center;
}



