.container::before {
    background: url("../images/concert.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    content: "";
    /* display: block; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.5;
} 

h3 {
    margin-bottom: 0;
}

.hidden{
    display: none;
}

#splash-bar {
    display: grid;
    background-color: rgba(255,255,255,0.5);
    height: auto;
    min-height: 6rem;
    padding-top: 1rem;
    /* padding-bottom: 1rem; */
    text-align: center;
}

#moods {
    /* height: 31rem; */
    margin-left: 2rem;
    margin-right: 2rem;
}

.event-image {
    width: auto;
    height: 18rem;
}

button {
    margin: 0.5rem;
}